<h2>Calendar Events</h2>
<table class="table">
    <thead>
        <th>Title</th>
        <th>ID</th>
        <th>start date</th>
        <th>end date</th>
        <th>primary Color</th>
        <th>secondary Color</th>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{ event.title }}</td>
            <td>{{ event.id }}</td>
            <td>{{ format(event.start) }}</td>
            <td>{{ format(event.end) }}</td>
            <td>{{ event.color.primary }}</td>
            <td>{{ event.color.secondary }}</td>
        </tr>
    </tbody>
</table>
<input placeholder="description..." [(ngModel)]="newEvent">
<mat-form-field>
    <input matInput [matDatepicker]="startDate" placeholder="pick a date" [(ngModel)]="startDateValue">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="endDate" placeholder="pick a date" [(ngModel)]="endDateValue">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>
<button class="btn btn-primary" (click)="addEvent()">Add</button>